/NetBeansProjects/Aula12-POO/target/
/NetBeansProjects/Java/HoradoSistema/target/
/NetBeansProjects/Java/CalculadoraIdade/dist/
/NetBeansProjects/Olamundo/Projetofatorial/build/
/NetBeansProjects/Olamundo/Projetofatorial/nbproject/private/
/NetBeansProjects/Olamundo/Switchcase/build/
/NetBeansProjects/Olamundo/Switchcase/dist/
/NetBeansProjects/Olamundo/Switchcase/nbproject/private/
/NetBeansProjects/Java/Fatorial/nbproject/private/
/NetBeansProjects/Java/Fatorial/build/
/NetBeansProjects/Java/Exrepita/nbproject/private/
/NetBeansProjects/Java/Exrepita/build/
/NetBeansProjects/Java/teste1/target/
/NetBeansProjects/Java/Exrepita/target/
/NetBeansProjects/Java/Lacofor/nbproject/private/
/NetBeansProjects/Java/Lacofor/build/
